content:
  source:
    alias: jenkins
    dockerfile: Dockerfile.rhel7
    modifications:
    - action: replace
      match: jenkins-1.651.2
      replacement: jenkins-1-1.651.2
    - action: replace
      match: jenkins-plugin-workflow-aggregator-2.1-1.el7.x86_64
      replacement: jenkins-plugin-workflow-aggregator
    path: '1'
from:
  stream: rhel
labels:
  License: GPLv2+
  architecture: x86_64
  io.k8s.description: Jenkins is a continuous integration server
  io.k8s.display-name: Jenkins 1.651.2
  io.openshift.tags: jenkins,jenkins1,ci
  vendor: Red Hat
name: openshift3/jenkins-1-rhel7
owners:
- bparees@redhat.com
