apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "apps.example.com/v1alpha1",
          "kind": "HelloWorld",
          "metadata": {
            "labels": {
              "app.kubernetes.io/managed-by": "kustomize",
              "app.kubernetes.io/name": "helloworld-operator"
            },
            "name": "helloworld-sample"
          },
          "spec": {
            "size": 1
          }
        }
      ]
    capabilities: Basic Install
    createdAt: "2025-05-18T20:30:40Z"
    operators.operatorframework.io/builder: operator-sdk-v1.39.2
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
    olm.skipRange: '>=4.3.0-0 <4.18.0'
    features.operators.openshift.io/disconnected: "true"
    features.operators.openshift.io/fips-compliant: "true"
    features.operators.openshift.io/proxy-aware: "false"
    features.operators.openshift.io/tls-profiles: "false"
    features.operators.openshift.io/token-auth-aws: "false"
    features.operators.openshift.io/token-auth-azure: "false"
    features.operators.openshift.io/token-auth-gcp: "false"
  name: helloworld-operator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: HelloWorld is the Schema for the helloworlds API
      displayName: Hello World
      kind: HelloWorld
      name: helloworlds.apps.example.com
      statusDescriptors:
      - description: Conditions represent the latest available observations of an
          object's state
        displayName: Conditions
        path: conditions
      version: v1alpha1
  description: helloworld-operator
  displayName: helloworld-operator
  icon:
  - base64data: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQCAQAAAAqtv5HAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAACYktHRAAAqo0jMgAAAAlwSFlzAAAEKgAABCoAp3hAhQAAAAd0SU1FB+gICRUwAycZMdYAAAABb3JOVAHPoneaAAAkMUlEQVR42u2dd4BWxbnGn2+pS28qYKFoaAqI0hT0AqJiLCFARAXEYK7tXqKIJSYqIKioXHKNJXqNBWxAiMTCFQ2CItUooOKlSRek14Vld9n97h+4gWX3e2fOnDMz59t9fvPn2X3LzLzfzDkz8w5ACCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYSQACR8GxCSiqiHqqiBmgD2YT8OYidyfRtlnUpoiDqoiorYhyzswE7fBpVe0jNAGqIH2qEFmqEJyp3w7AjWYyVWYClmYYtvQyOlHM5HD3RFCzQ+wevdWIUvMRufYZdvI4lPyuEyPI8VSGqW5XgOlyLDt9kR0AnPYqfS33x8gsGo7ttY4oOz8SR+0A6N48sPeAKtfJtvTAb64KtA/u7HWJzs22ziki6YjgKj4CgsBfgAF/h2w4AeWGbk70GMQRXfxhMXdMHsUKFxfJmVVkFyEt4M5e1aXOHbBWKXOnga+ZGFx9GRZCJO8u2WFhcbTiiLevs0Kvp2hNhiCHZFGhyFZScG+3ZNyTDkReTtAr6PlEaq4y0rwVFYpqKmbxdTksDISH1dg7N8u0SipR1WWQ2PJJJYgba+3UzBnyP3dTPO9O0UiY6e2G89PJJIIiuWL7FjrPi6BvV9O0aiYSBynYRHEknk4Abf7p7AzdZ8/QKVfDtHwvMfIdc7gpZ83OHb5eNog0MWfX3Wt3skLAMdh8fREInLKJIZYBONWfmlbxfTjzhtVrwC76JCwP/Jxwasx14cBFAVtdEIjYptX1SRi2vwkW/nAYzBHzT/Mom1WIm9yEENNEJLVNX8vy1ogQO+3SRmtMPBAL+F2fgAd+P8EubVldAewzEdhwNIO4A2vt1Hc02L/4FBJ6xslEcX/LfmmtF4324SM2oE+LD7JW5FLaXE2rg1wCa/FajmuQb+qmHlXHRJ+f+1MFbjDSYXjTz7SYx4W7Mjz8XlgeT2wjxNyW949b+lcktNNn6tlNII/1T6+ZxXP4kRQ7S68I8YYPDOlMAgbNWS73MDyitK3/W2WWYqf2qyufUk3ThJa/48VWNalYramKahYQfqeqqBasgSLduNZtqyEnhd4eddnrwkhqh+PZPIw9CQOhK4C0eUel7yVAODFd73DCStMhaK8hZ78pIY0UW59nEI10SiqTeyFZry0dlLHXwgWvVgYHkNFZt1uHkxjZitDI9/i0xXd2WIzPRQA+XF7rwJmQYyHxK9vMWDl8SILsrJVTSjRyG9lRMt92PIBaI9Q4xkVsWPgsxJzn0khkxXdNew7x7FGabQ+L7zOvitYM32wHsLChklSF3j3EdixNmK94+pFnQmFF+0CtDScS08K1jzgrHUloLUI6js2EdixBNiV/0xxIddiTrYJup93HEt/EOw5Vch5G4W5J7j2EdiQAY2iR11gDXNg0W9PwTe7hiObwVbfhZCrjR9vcSph8SIy8RuOtfiTuMEFoi6ezith3WCJaZvIADwjCCXG9818ZmWs7f4dDSS1jQnMVp87rb7pE4Vmo28EHL3G+kkRfAZINLv9FeWT2h8iCWGlrkkXOtIE8UC366lC/4C5FQ0F57a3vQhbytpiQYOayI75ZNKodKH1hae8diUJv4CpLvw7DCmWNc/GTkpnyVE66Jmt/AszEu69L/7taWUcfwFSDvh2SfYY13/bsw2tC5qNgnPOhhLLY/zhKcbHfqX1vgLEGmCNcuJBZKW5tpSwiOta19mLLWzkDsyB+sd+pfWxDNAPnVigTSCuAyQr4VnVxkvlkqrSN8j36F/xICKwqZBVxshMoVjrnmhViCCcY64JvOIkczTxPPp5htYiCMaCs33vTMrpCW6U5xZkRB33h7CaQYyXxWDrr8z39IeX1MsaaFqvTMr1gnPajizIonpwtNMjA0ssTMGCU+POHrHKxXEMUDcfYKMy1rza+LTARgWSFoDTBUXCT/GDoe+pTm+AkTKQpXlzAopQNyNIMA8rBKfP4WrtWXVwHs4VfyLtxx6lvb4ChBpI6K9PVhRWRg1SUwQn5fDNNyvJelMzEd78S+24R2HnhFDzhdeId014DTBik5O66MOdouv1Ukk8TLqKKT01UigdJ9Tv4ghzYUmdJc4YZZghesjRfcou3YSu3FfyhQOF2KuhoTt3MebHkifed2dmJY+854aXnwgKmGtRgdPYjdeQO/j7ouqjA64D19q/W8Sv3HsFTGkonCLaxwWCnM8vJ311ezkR8t+rMH32BzomuxFXo83kECsFhryfCcWdIjFKHY8/xMoRIKWLLTw4lVa4+8XZaXwrJsTC6Qt7X4C5E58Y1H6UKzw4lVaE88AcXOiTz7R6INs9Le2TPo8XvXiEzFkgDAZOCyehouGusgRLOjnrV4utHIJ9ruOM7WQ0DQUG/RW6/rvEPWbbBCMiq44EHF4/G+oo7vEE8uFJrU9xUlgiaB9meeauVjzxkG98jYqevaHGPG82Ky9rOq+UtQ9znfVoIn2yoZc8jGCn3bTlUvFpp1nNXGcfMVMdBcumFMZL4YOj60Bb3QksUKVenSgNc2/FvWuj81v7iViWlK5FGAi6vl2gIRjrOL3z863rLrYLuod5btajqMCfquxjbF4mal56SeJNa0U1x9MszDNSuA9UWde7G4SfyJQaOTib7jYt8kkKj5QNPddkWtU7ZqN33Gi2ZqhkYOZGMZLnksXFyga/YgixXVQ+iivYDsvvJJIKScuHO7GCnyO13EvLhVPaZK05RNFh82OMA1oD+UlnvE7bSclBcrjAmDp5wLlNdDZEY0ifZThkYtmvqujGEMEe5eEF0/iz1+Us+sjGBbydT2Be5STqySe9l0VJfCCYO+Lvo0jLqiHnRqvoNOUJ7JTU1fx5epo2RjL46hLBItv9m0cccNNWl9ptuFGg3EkgZsU6x6F5ee+q6EEqggnL5No7ds84oo3tLpwEgsCdeMErlRsKjlW8nGt70ooga6CxQe4hb3sUA0rNDtyEotxu8Z0qw7uEKcnxUteDEPkbsHe2eHFk/ShbaBTEIfxIe5FhxLSO2SiI+7FDPE4VPqEyCTB2id8G1cWcJk/UMXleD/wpQMF2ID12IssANVRE01wRqithkcwwMH1b/qsQ+OUz/rhb77NI265LlASGzvliHj1jFtOFi31eeqReOKOGIRIfCZaVwlWbvFtHPHDDUZvD6VzFBkt2Bi/TTHEET2s5PVIxxD5SLDwAd/GEX+0CfDRt/ROtBLiUalLfDcS8Uk17aVDs6LzpuM7RJqJ9tcMr4CkN4Oxw0pwbMTPca24hSMeITJQsOz/fDcOiQN18VLEX7Vy8fRPWxLjHyJ/EuxiGlHyE50xM7LweKfIeY/+MQ+RRYJVt/tuFhIn2mGK8liV6p3j/RIuVeunFSJ+vmhVwmHBprgdDC61xGmriUxL3IgBON3gP9djIl7BhhKf9ccbKK+U4GMDSkcsSvnsMGogz7E9OpyEZmiIqqiGqgAOIgtZ2IJV2OnbsLJCBnrgGXynPW4swzhcrPgRiOtE6z8Fa+b7a4ISqIe+eBYLhHzCuzAfz6AP6vo2taxQHzfgKbyHVSV07hyswcd4HH219yrFM0QmCrb80X2Vl0hTjMCSAJ9R8rEYD6OJb7PLEhVQH2fhfHRHT7RHazQ02ssbxxBZKVhyvUM7SqYybsYcw/fCAnyGIajk2wUShLi9rtcRO19Tr3VVFXfiB6PQOL5sw0gudqYT8RpFLhNs2OHx00oFDNdKsaFXduAujU8kJCbEaRR5SLBgurca6opvIguOwvI1unjzhwQkPqOIlKZohJe6qYqXQq5FpSoFeIEZItOFuIwiWwXtdu/eKpkWFsaO48typjBKF+IwijQWf2/dX4szGAethkcSSWRhkHO/iBH+R5H+gt7VzuvjfuvBUVjGOveNGOE7RP5L0Pqm05pIiLZEX56JzfV3RMTvRGuOoPNOh7WQwASn4ZFEEq+l0f7AMo2/UaQ8sgSNnR3WgdvR49goEiMYranxtdP3XOHejzzUwGFH/v8Ojwf8j4NYgVVYh/3YB6AmaqAJmqFl4I+49+EpRz6SUPiZaN0i6PrSme/9Aq16LMWD6JIiL2YFdMFD+DqAtIKIL94j1vARItKFQs878rsp9mp25kN4Dm20ZLbFc8o7vgrLbiHlKokV7kPkW0HPYCc+V8I/tbpxDsbhlECS62M8crVkL0JFJ76S0LgNkeriVXEtnXg8VqsLzzK0phU+1ZL/qBNfSQS4/KLVXdCw18kqQSuN3/g8jAxhSwJ3aujIcfRzQCLA3ShynyB/pgNPExq/79txYWg9XTW2zX/iwF8SEa5CZKog/TEHft6g9HE9mkeiqQU2KHX1d+AxiQibIVIOp+FcdEBPbBZk/8K6jxnKrMgbjTLLlEwjbFJo+45bT9KJqEOkEfrjSczEei25STSw7uG1Cgt2RvxecLaQC+Vo6WvdZxIh0YRIBrphPJZrBcXxv922SSiuPc1Hz8h1Xq7IivIVd3ukF2FDpCnGaMy9Sypb8esSLi2Nkm4KCx6xovUxhdaLrfpMIsc8RNpjsrjKoS478DjOsObZK6LupZYSLJRXnFb8izV/iSVM1kWaY0qo0DhWcvEiTrbgVRXxZq+CCD7tpqKruO9rHzKtaSaWCDaK1MRzmq/humUP7o18uiV/4H3Lan3KPx782JuG6I8iV2BjpMFRWJajfaQevSmOH3aTKrQVx5AJVnUTS+iNIjavtc7FH1AuIm8S2CJoet96bU4XtG+yrp1YQS9E7Ja5AffTpqKlqKWP9brsJ+qPZu2eOCcOIbI2ksW72wUNuxxsPa8k3ul7q/2mLBku5IdjMq7HEc82NMF8dA8tRTr09CFyrXuRg4+Fp97SyjFAwjIVA72HSC3MwBUhZTQTnn3qxItZwjNOsdKaOEy0DuKiUD5IFxo0CyVZlxaCBfa32aSA+1yiQS8DSmrysQHrsRcHAVRFbTRCo8Dfp/ahBxYb6q+KAyn7Qg6qIj/yGitOeRxM+a6TRFVkO7CBWMNsFMnGB7gb55dw31IltMdwTBfvuj2xbMOphtafLkhd5qwO/0+wwtQzEhuChsiXuBW1lFJr41Z8pS3zc8NxrJUgc4azGvxYsKKFMyuINfprLwvOxeWBJPfCPE3JTxpZ3lGQ+Fdn9SedpuzozIoi8CtWlBzUqs+tGIiL8FEgyTPQFTdim8Zf3oOfG1heTfTKFVmGFpK0oKbyAGkSSUzVmFalojamaWhYZ3BfU3tB3hvOalDaDRbuGx2JAc8ru24ehobUkcBdGidKxgSW21CQ9q6zGpQunjvXmRXECi2Vr+iHcE0kmnorE3geDrBycSp+ibFiqp85zupwrmCF36uvSWjeU4bHv0Wmq7syRKYqJFRHd/wO72jdd77FWR1KNzOe5MwKYoEOyslVNKNHIb0VE638EjdnlEc73IZXsCzgJvwaTuqwlmCB3ucPEltUx2nDvnsUZ5hC4/EnuZvgOozHXBwKFBbHSjcnddhDsGCpEwuIJZoqfs9VEx4TEoovWjlojV54GB9gu2FYHCt2spmcyBjBgslOLCCWeFTsXj+G+LArUQfbQnd9vTLPSS0u9B6ixAoJrBO7l73rogc7CpACNLFei43FU+kmi58kJsjp1uZa3DGdwAJHIfKg9Vp8WNCei+rW9RNrjBe7VrA9V0H5uaMA2Wj50G0lcReCmykesYSUY9f2pZsJLHYUIjdb9eMWUTffQNKYRmLT2k82cHtkISCXNRbzAmdivaj7HOu1SKxxndCw2Za+Xx1PnUBHqsKUEdZ8GC3qNT0lSWLBk0LTfuDEgg8dBUi2pUNLrRQhPsxJLabATr5uF2TgXHRCc7RAfVRHTRzBbuzGbqzDF1iINc7sOE94NktbShhmoVckco7gOzQXJlKVMRmdIz8ZXgWTSzhwfIzDlrMCl0Iq41eYqriZaDsmoqeT/TvrBCvOCy9eg/YBR4ITy3pMxnBchCoAnlP87csR257ABIXG553UYamhEf4kZuArWjbhMcu7QMsJm9yPWL7uppBMo/y/e/ARRuPqExKXNlZu2h8Zqe2jFdpy0dhJHZYKTsMrGrdrn1j2Y4TFZSYpG4i7ad467drIwSI8g0FonnL58mWljOjeCYYrdb3qrA7TnPIYjgPGk4htuNGSXW0ErS5uNT/KLGUNrMTrGIpO4mz/KA006vmxCHYHJPCEUk9WhDfqlmqaYJFxcBSWt1DTgmWdBY3vOKufaYIV49ELdQJJ+4NGbU4OeUakppjBpLDc56wG05pfYE/o8EgiiXXoELlt0hmGic5qaKJgRfCL0yoq7gw8WlaHSMTTGd9raFiGCs5qMI25I8IraA7gkoituzD2AWKS9/18zauB/hxwbAKAOnhRq0XzcIGz+ktjHowsOI6W7AiPvtbG5fgvQVc8plidrNb7HjyCutpS62E09mpKvt9Z7aUxv404PI7+Ml0dyqaK6ISheB0rxfMLScTlJd1sH1OGeCVa0ZKlseZUDpdiIrK0ZU5nWnU1+ok8g5X9aBXYlgSaYxCewSLkaOuJx2de06TPdbA6UK3uwjsYim6oX0RKA3THUEwLsHaVRBKrUc9Z3SmIb5y2wheoakn29+iIPVp/eQo6/lRqBdaSj2o4bK+C/kUmslL+fuciEwWGcs/EfKP72A8hC1kAqqGaQY5HYCu6OvxxSVOq4Fsro0dheV+hvSvuxmTFJmx1Od9JXUkph8J1tPbYZ7UVSir70M5JraU56kWkoiVbmUrtxNKvmM5yOAdD8CKWRHZf1HAndXWfYMHHIWV3Cjg5Clv2oKuTOktzztbcUrIPr2EgWv10HLQiWmEQJmr+6v3wrw0op6EPnsDsECv1qcp0J7U1Q7Dg8dDS2znLnZLEZn+XdaYXH2tU5k4MQ2aJ/10FwxV7fY+W1/EApmGzxQY/jNrW66qu+NmgX3gFaGJ5ultYVnBjoh6dlFVZgPGKl+Za+G/lZ1gXxf6R2ztE/adFoqMG3rVeU5McJTgtBaga4xCu05JzQ+D3kujLV5brKoElgvbobhdMYKjF2szGbZbrqRRxumL140CAteHOFt4rgpZoTvul4kpR97hIdbXGfCs1NIdJGYLwgFiZ+egdSFof7xOteVYTxy0UdUd34cJRMnCb1tudftmGwTFei4sly8QKfTiwvFGeAySJQdbq6iZR7zorXa8mHoloXN6NUQ4+YpQyThWr9HuD/H6VsNZzgGy11A3qKvK2j7LWSvXwILaErJMH+FJuwkCxWvVezk/kBmtdfwemYwSuwLmKdZtpFn7LE4o7rfLQyGpLVcS1eDfAzrTCko0puJonPUx5Qaja5YbdLAMrIw2LQ5iHP+L6IrfmqXJz3BV5Td2j0OgmWU5tDMQEzdFkDV7C9Q5S6ZVqpMskf28s9aEIwiIf3+FV3I7zSvz1a634GHAk4McFFX2Ud926STlUSBP0wWi8jbnYhP0/WZCLXViDhXgND6AvFwGj4UcrTa66QVAqmzEND6CHcsasusQz2+hsX8n0UK5JuDusVTKZGukhSGAqix2snLHccoHz1+7HbIxFnwAr0c2V8/HsiEaRPsrwyA1wDTRJI04SGv3bUJK/0wqLPCzBCxiCc4yC8Sml/CMYFvJ1PYF7lJOrJJ622EbEI02FRv8slOQ5Yodah0m4G12Njvcco4Y4QSws0wwSHRRSVzmRSyKJjbyPqbTSXGj2cCe8PxEkt4/M/qu01u234UaDcSSBmzTvq+V9fqUWaZlwYSjJXwiSG0TowZ+0unASCwJ14wSuVGwqOVbyca2VtiExoIbQ8FtDSZZ+e6M8+V4ZX2t25CQW43aN6VYd3CHu2C1e8tDfcjsRT2TgkNDwpxjLbSBIzYp4lftMzYnQ0XIYH+JedCghD3wmOuJezDBYq2aIREi8LtApwGq0Sfm0OyYZyu0hPFuFZKQ+rMFVmK39ul8JvdALQAE2YD32IgtAddREE5wR4naT8ngDwORI/SKxYIrwu2i++PV3QerbFry4RuNTrO3CUaRU8juhyXOK7H7S50xxK+G9VvzoZzQ1YogQBfJ5dLMNeJNFmbZyV/WIwWnGIxjgrymJDcqLyY0LDC4w6CSuTewKsYFFRVfs8B4iHEVKHfLG8XUB7xysq7iJIupLKYtyGhZ4DxGOIqWMnooG/zTAYZuK+EwhrZtlbyrheavdX++mDY4ipYgMZUbcGZqHbmrjI4WkNU4uiu4V4JLNIGUjrkR/rTSpDJFSxX8qG3wFmiultNQ4R+gqG1NVjIss3+/Rkounf9qSyBApc1TWOMKZixeF1Px1MFYjzdkWR/eYH6UJXoxsdeQfRTJJ9dMKEb6LlCJu0+ome/AU2p2wUSQD52Gc5qWfNzv3qxU+DBkaeXirhJOVHEWsEc+kXRlYqP1BdweWYA32A6iBs9BO+26iBehqfLWMOfdjrPH/rsdEvIINJT7rjzc0tg0dwUBuQCkdnGd5Jfow2nrx629G1i7DOFys+DHjKFLGGGY1QIZ68mqTtoU5WIOP8Tj6ap+LZ4iUKRLiFsNwZaqnqWVD0apGaIwL0RPt0RoNjT5AM0TKFFUwz0p4LLJ2OaiKPoJV6yLRwC9aZYp6WB55eHwX4OL7qHlcsGtKRDo4ipQp6ka8m+mfRhcbR8UswbLoLvzkKFKmqK7cMKJf/hfVPHqSIV4venGEmjiKlCkSuD+CNegjGGlxa7sOZ4vWRftexFGkjNENq0KFxwpc5NsF/Fqwb2nk2jiKlDEq4SEcNAqOLPze4OKd6PmzYOP/WNDHEClz1MNIzX1WheUAno40MVwYFgt22tkXxolWGaQWbsFcjRSfBZiDf0dN3+b+i0wxdUSb8ApKhKNIGeU0DMYErCyh+XOxAq/hRpzq28QTuFAc5+x9PmCIhCJeieP0+QETMAFABTTF6aiG6gAOIAubsBZ5vo0rEel296+Qb03vZEBjpy9TzRHPTBJ+v5+wrFv3XWSg70oiZRfpMuq+1rUzREisOUnsmKc7sIAhQmLMVUKn3OLIBoYIiS2jhC45zZkVDBESU2YIHdL8/vfgMERIDElgp9AdL3FqC0OExIQqOAMt0QE98QuhK+Zr5omMDi4dEo+0wu14Hp9op2dY7sFGhghxThUMwJsaOSFPLBO8WMsQIc5IoBtexf7AoXG0vOw0AeoxGCLEARm4FksNQ6OwbMeYEDf4msMQIVZJYABWhAyOwpKFR52/rDNEiEXOxqcRBUdh2YVbnCe0Y4gQC1TCWPH4k3mZi5aOfWGIkIhpZPXmwWzc6dgfLh2SCOkn3sMbTZnkODkqRxESEXdqnIaPoix1sgX+GBxFSGgSGO8kOI6WTY7fRqIcRWqiCZriZFTx01DEBxmKG9yjL1uL3ERon3Ahcgb6449YgG1FpOzGQryG2zUuXSVpzjOOwyOJJLajlVMfzUKkPu7G18r/2oin0Np3IxJbPGTQvQ9jGT7GFLyCt/AuPjPYp5XEesdp74KGSHu8Fyhv8kL8Iqb3YpIQDA7UqXfhTfwGzUrIdVUD3TAK8wO96H8V2y9aLTHV6JPFN+jpu0FJlJyjnRO4AO/jlxp5gBvjIWzU7lATHfurGyJhMu6/HZuEsCQkVfGdZnC8HWiOXRE3Y41md/qNY5/1QiRc2Y7LHXtFrPCSVnMvxYUGsitjBLI1pB/EWY69dhEi+RjF95F05yKNWXY+HgmRwrWFxhegJD6J6TbGsOWVtE1+SwBUwDfKJt4Z+pUzEy9rdKUhzr13EyLvMETSl+HK5t0Y0Xr3SKWmLR4ur3YTIi9zopWeVBOT9SSRxHqcEZm2YcqO9JCHOnATIqM8eEZCoxo/tke8geIxhb59Xq4DcvO6fpkHz0goKitWvnONvltJJDBZ0ZHu9VITLkJkG+p78Y0Yc7OHzloDq0Wdm1DBS10EC5G9WIKZmImlgU7OvO3FM2LMHLE5Z1l6seyIfFFvby910UJz1fwz3Iozi/znWbhNUZPHitsUrCQUTcX1jxyLZzX+LHaiv3mpjb9qdO/PcUHK/78QczUkLOXXrPRhhNiU4yxqriNedH0YtZ3XRXvlYul+XKuU0h8HlCFyjXPfiCFLhGY8ZPmF8hGxE13vvC7eU3TrtZoHu1qL19AlkcQC574RI+qJbwLPWtZeF1mC9tcc10V9xQv6WpysLesUrFOEiNszlMSQvmIjtrWuf6Kg3dWFbYXcrZhcBevSbRQTrScde0eMeE58lbRPT7ETNXJaF3LmYfW7x4lcL8rb4NQ3Ysh8oQkfdKC/HHYJFvzSYU2cIXbnz41kzhNl/syhdxpk+DYglkhbSGY50J+Pz4Sn5zmsiQvEp/cbyZT/q4dD7zRggBTnJNRJ+ewg/unEhtnCszO1pYSns/Dsc8w3kjkX8ww1eoABUhxp/FiBPCc2fCs8i24HsRqpu75lLFXaVhKzDFoMkOJIl9msdGTDCuGZywBpKjybaSz1H8IzBkjsqSY8W+fIhq3ITvnM3Vp6Qphs7sP3xnJX40DKZ3U8XUmXAgZIcaoLz/Y7syK1pirO9izVEI7DrgkhNyn+dw1H3mnBACmO1EBZzqxI/RubgUqObKgnPNsXSvJe4Vl1XSEuYICkI0lHetg7WAUlIE2j3P26pdaUixxHNhwQnoU7/lvLUKtzGCDFkRrIXYCknui560CSpjCrMQnxv92952nAACmO9J7RxJENDZCZ8pm7DnRQeFeoGSLbYzPhh2YXDjvzTwMGSHG2Cs9aOLJBWg3Y5rAuVgnPLjWWKv3nKm0pTmCAFEdqohaO0ia0EZ65WqwE5AXLG4ylSoe+VmhLcQIDpDg7sDvlsyro6MSG7sIzlwGySHjWFV2NZF4kJkxa6NA7Yoi03d1FfsNy2C1Y0MdhTbQQt6bPNZCYUNwy7zqPPTHgWaEBv3ag/1KxCzV2WhebRFuuCyxvgChvvVPfiCG+j9y+LmgPs8XDhHFiXRwQ35aK01Y8b5/EWMfeESPqikkbnrOsvZ7YiV5yXBdtxQ6dxDpx93NR6mO9QtrZjr0jhiwWGjHbctqfMWIXcp/25wtliOiNIm2V4cG0P2nDw2JDjreouY6Y0TZb3KRhh96Kbp3EAWXYJjBAMblKIomrnftGDGkiZhPMRStrml8Uu9AUD3WRwLfKrp3EPHRJKaGr4svV0bKEqUfTic/ExvzU0gpSZ0Xyaj+/sZdpdO8kkpiLO9CsyH82x39o5eVNIimu/ZDYMUTRnGYZPWRq4ntR51ZP1x9AeXPJ8WUflmIWZmEp9gf4rzc9eUYMqYzNYoPmGa4jpyaBqYpO9IC32miI7QE6e/CylRfopB93Kxp1Z8SXIDyh0LfXwwv6MXopJn9hCq9gS0uqYoeiYTdEmAZUfaOu76suR1sLkBGePSOG3KVs2k2RLG0lNDrfNg83g5xo5atWwuMv/HqVrpTH18rm3YXLQ2qpggka3Wiw78oAUB5/jzw83hEyp5DY00V5u1IS+Xg0RCO30lplmBOTX9nyEY8iLzM80p0XtBr6G1xkIDsTo3FYQ3p2jC6WSeARjR8NnZKPETEJexKCKlq/8EkUYEqgfb4VcYtyb1Jhuc13JZxArwg++m4LcWSXxIpWGruICoNkOvpppHVrihGKcxbHl0m+K6AEGmBSqPB4k+sepYlBgSYVuzEJt6BFCbPrWuiBMVgYSNryeKXiPI5L8Y1RcCyJ2x0gEpwD6vF7PBr4f3KxBpuxFwdQGdVQC80CnJwoZAu6xPiUXQLX4PeBTukvxGP4AK4yQxKHPB3Ji2mwsifgeT0/tMZT2Kj0ZQOejNGnBm04guiSgZdxk1ON+3GlUVoEPzRHd3RCSzQrsqC5ByuxAgsxC6t9G0hsk1Ccz462/Ih2vh02pApORlM0xcmo4tsU4po7LW7ZO76sjdttr4To0VvMWRVNmS7ezEFIrDlDcdN3uJKHkcx3SdKbingUOVbCY5mYlpOQtOFnmBFxcBzESGeXqxHigP74LqLgyMWrON23O4RETQJXKxOrqUoOJjJlMym9JHAx/iKme0tdFmOYwQYUQtKOTPTHRPyg/a1qHh5Jx60XZQ1uNYma5uiGNmiGZjij2LNsrMJKrMQizInXXa4kFQwQe2SiLqqhGmohFwewD/uxC9zHSgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEEEIIIYQQQgghhBBCCCGEkNLM/wOQj5thX1rifAAAAABJRU5ErkJggg==
    mediatype: image/png
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - apps.example.com
          resources:
          - helloworlds
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - apps.example.com
          resources:
          - helloworlds/finalizers
          verbs:
          - update
        - apiGroups:
          - apps.example.com
          resources:
          - helloworlds/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: helloworld-operator-controller-manager
      deployments:
      - label:
          app.kubernetes.io/managed-by: kustomize
          app.kubernetes.io/name: helloworld-operator
          control-plane: controller-manager
        name: helloworld-operator-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              annotations:
                kubectl.kubernetes.io/default-container: manager
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --metrics-bind-address=:8443
                - --leader-elect
                - --health-probe-bind-address=:8081
                command:
                - /manager
                image: quay.io/rh_ee_asdas/hellworld-operator:v0.0.1
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 500m
                    memory: 128Mi
                  requests:
                    cpu: 10m
                    memory: 64Mi
                securityContext:
                  allowPrivilegeEscalation: false
                  capabilities:
                    drop:
                    - ALL
              securityContext:
                runAsNonRoot: true
              serviceAccountName: helloworld-operator-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: helloworld-operator-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - helloworld-operator
  links:
  - name: Helloworld Operator
    url: https://helloworld-operator.domain
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.1
