content:
  source:
    dockerfile: Dockerfile.rhel7
    git:
      branch:
        target: release-{MAJOR}.{MINOR}
      url: git@github.com:openshift-priv/cluster-config-operator.git
      web: https://github.com/openshift/cluster-config-operator
distgit:
  branch: rhaos-{MAJOR}.{MINOR}-rhel-8
enabled_repos:
- rhel-8-baseos-rpms
- rhel-8-appstream-rpms
for_payload: true
from:
  builder:
  - stream: golang
  member: openshift-enterprise-base
name: openshift/ose-cluster-config-operator
owners:
- aos-master@redhat.com
- tnozicka@redhat.com
