content:
  source:
    dockerfile: Dockerfile.rhel7
    git:
      branch:
        target: release-{MAJOR}.{MINOR}
      url: git@github.com:openshift-priv/machine-config-operator.git
      web: https://github.com/openshift/machine-config-operator
    ci_alignment:
      streams_prs:
        ci_build_root:
          stream: rhel-8-golang-ci-build-root
distgit:
  branch: rhaos-{MAJOR}.{MINOR}-rhel-8
  component: ose-machine-config-operator-container
enabled_repos:
- rhel-8-baseos-rpms
- rhel-8-appstream-rpms
- rhel-8-server-ose-rpms-embargoed
# Generally doozer scan-sources will detect all possible change factors automatically and trigger rebuilds.
# However, certain images may consume RPMs in unexpected way that make it programmatically impossible to
# detect they were used.
scan_sources:
  # ovn-kubernetes uses pins in the Dockerfile.
  # We should configure exemptions for those known pins to avoid meaningless rebuild.
  # https://github.com/openshift/machine-config-operator/blob/2069e55cdb39419f9a127c5fed3673c560b4cc4e/Dockerfile.rhel7#L26
  exempted_packages:
  - nmstate
for_payload: true
from:
  builder:
  - stream: golang
  - stream: rhel-9-golang
  member: openshift-enterprise-base
name: openshift/ose-machine-config-operator
payload_name: machine-config-operator
owners:
- jerzhang@redhat.com
- jkyros@redhat.com
- skumari@redhat.com
- zzlotnik@redhat.com
