content:
  source:
    dockerfile: Dockerfile.machine-config-server.rhel7
    git:
      branch:
        fallback: master
        target: release-{MAJOR}.{MINOR}
      url: git@github.com:openshift/machine-config-operator.git
from:
  builder:
  - stream: golang
  member: openshift-enterprise-base
name: openshift/ose-machine-config-server
owners:
- acrawfor@redhat.com
- imcleod@redhat.com
required: true
