cachito:
  enabled: false
content:
  source:
    dockerfile: Dockerfile.rhel7
    git:
      branch:
        target: release-{MAJOR}.{MINOR}
      url: git@github.com:openshift-priv/machine-config-operator.git
enabled_repos:
- rhel-8-baseos-rpms
- rhel-8-appstream-rpms
for_payload: true
from:
  builder:
  - stream: golang
  member: openshift-enterprise-base
name: openshift/ose-machine-config-operator
owners:
- acrawfor@redhat.com
- imcleod@redhat.com
- runcom@redhat.com
- smilner@redhat.com
